<a href="https://colab.research.google.com/github/urabh75536/UpGrade-AIML/blob/master/UpGrade_AIML_Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1 :**
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.

In [ ]:
x = input("Enter the email id of the persson")
container = x.split("@")
container = str(container[1])
company_name = container.split(".")
company_name = company_name[0]
print("Company Name:",company_name)

Enter the email id of the perssonsaurabh.011kumar@gmail.com
Company Name: gmail

**Question 2 :**
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

In [ ]:
string = [x for x in input("Enter words seperated by commas").split(",")]
string.sort()
print("Required Result:",",".join(string))

Enter words seperated by commassre,fe,few
<class 'str'>
Required Result: fe,few,sre

**Question 3:**
Create your own Jupyter Notebook for Sets. Reference link:

### Saurabh Notebook on Sets

**Definition:**  Sets are type of python sequence which are mutabe, unindexed and iterable. Sets don't contain repeated elements.


> e.g. {1,2,3,4}


*   Syntax: {} --> elemets are stored inside is seperated by comma
*   e.g. {1,2,3,4}

In [37]:
# set syntax
s = {1,2,3,4}

In [38]:
# Checking the datatype
print(type(s))

<class 'set'>

*   Sets can be passed a repeated values but it removes the repeated elements.

> e.g. s = {1,1,5,4,6,6}


> But the set will be, s = {1,4,5,6}

In [39]:
s = {1,1,5,4,6,6}
print(s)

{1, 4, 5, 6}

*   Sets elements are non indexed.

> This means that, when we store some numbers in the list say (list = [2,55,6]) then the first element stored in memory will be "2" then "55" and finally "6". But in set the order is maintianed. It can store in any order.

In [41]:
s = [eval(x) for x in input("Enter set elements seperated by comma").split(",")]
print("Entered elements:",s)
s = set(s)
print("Set Value:",s)

Enter set elements seperated by comma1,1,5,4,6,6
Entered elements: [1, 1, 5, 4, 6, 6]
Set Value: {1, 4, 5, 6}

Clearly, we can see the order of eneterd elemet is not fixed.

**Taking input the set values from user:**

> Method 1: Using basic for loop

> Method 2: Using list

> Method 3: Using input()

**Method 1: Using basic loop function**

In [45]:
n = int(input("Enter the number of elemets to enter:"))
s = set()
for e in range(n):
  x = input("Enter element")
  s.add(x)
print("Entered List:",s)

Enter the number of elemets to enter:5
Enter element1
Enter element2
Enter element2
Enter element3
Enter element3
Entered List: {'3', '1', '2'}

**Method 2: Using List: --> Type Casting Method**

In [42]:
s = [x for x in input("Enter the set elements seperated by comma").split(",")]
s = set(s)
print("Entered Set:",s)

Enter the set elements seperated by comma1,2,5,5
Entered Set: {'1', '5', '2'}

**Method 3: Using input()**

In [43]:
s = {x for x in input("Enter set elemets seperated by comma").split(",")}
print("Entered Set:",s)

Enter set elemets seperated by comma1,1,2,2,3
Entered Set: {'3', '1', '2'}

**Acesssing the elemets of sets**:

> Method 1 : Using for loop

> Method 2 : Using while loop

> Method 3 : Using direct element access

**Method 1:**

In [46]:
s = {1,2,3,4,5,6}
for e in s:
  print("Element:",e)

Element: 1
Element: 2
Element: 3
Element: 4
Element: 5
Element: 6

**Method 2:**

In [47]:
s = {1,2,3,4,5,6}
index = 0
while index<len(s):
  print("Element:",s[index])
  index += 1

TypeError: ignored



---

**HERE WE CAN CLEARLY SEE THAT INDEX ACESSING IS NOT VALID IN SETS AS IT IS NON INDEXED SEQUENCE. SO, METHOD 2 AND METHOD 3 IS NOT VALID(WHICH WERE USED TO APPLY TO LISTS, TUPLE, STRINGS).**

**Change of elements:** 

*   Since sets are not indexed so the elemets of the sets cannot be changed as we don't know the location where it is stored. And so we cannot changed.
*   **This is the reason why slicing operators, index function, etc is not able to opearte in case of sets.**

**Adding Values in the Set:**

> Two functions are used to add the values in the set
*   add function
*   update function

> **add function**: It is used to add the values directly to set. It means this function can add one mutable sequences to the set at a time also aditionally it adds single values to the sequence.

> **update function:** It is used to add values to the set. But this function much more acts like intersection meaning that it adds multiple values inside the set function.

**add function :**

In [49]:
s = {1,2,3,4,5}
s.add("apple")
print(s)

{1, 2, 3, 4, 5, 'apple'}

**update function :**

In [50]:
s = {1,2,3,4,5}
l = ['a','b','c']
s.update(l)
print("Updated Set:",s)

Updated Set: {1, 2, 3, 4, 5, 'a', 'b', 'c'}

**IMPORTANT**

> Sets cannot be updated with a element which is mutable
The same is demonstrated below:

In [51]:
s = {1,2,3,4}
s.add([1,2])
print(s)

TypeError: ignored

In [53]:
s = {1,2,3,4,{1,2}}

TypeError: ignored

**Length of the Set:**

In [54]:
s = {1,2,5,9,7,5,6}
print("Length of the set:",s)

Length of the set: {1, 2, 5, 6, 7, 9}

**Removing Elements from set:**


> There are two methods of removing elements from set


1.   remove()
2.   dicard ()
3.   pop()


> Both remove() and discard() does not returns anything. Or return type of both functions is "NONE TYPE"

**Using remove() function**

In [55]:
s = {1,2,3,4,5}
s.remove(2)
print(s)

{1, 3, 4, 5}

**Using discard() function**

In [56]:
s = {1,2,3,4,5}
s.discard(2)
print(s)

{1, 3, 4, 5}

**The difference between discard function and remove function is that discard function does not produces any error if the element to be removed is not in the set whereas remove function generates an error when the element to be removed is not found in the set.**



> The same thing is shown below:

In [57]:
s = {1,2,3,4,5}
s.remove(66)

KeyError: ignored

In [58]:
s = {1,2,3,4,5}
s.discard(66)

**Using pop() function**

> Since the sets are not indexed. So we don't know the from where will the pop function will take the element.
**pop() function returns the element which it removes**
**ONE THING TO BE NOTED THAT HERE IN SETS pop() FUNCTION DOES NOT TAKE ANY ARGUMENT(THE REASON BEING THE SAME)**

In [59]:
s = {1,5,4,5,6}
k = s.pop()
print("Set :",s)
print("Poped element:",k)

Set : {4, 5, 6}
Poped element: 1

**Clearing/Deleting the values of the set**

In [60]:
s = {1,5,66,75,446}
print("Set before clearing:",s)
s.clear() # clear function does not return anything or return type is NONE TYPE
print("Set after clearing:",s)

Set before clearing: {1, 66, 5, 75, 446}
Set after clearing: set()

**Union of Two sets**

In [62]:
s1 = {1,2,3,4,5}
s2 = {1,2,"a","b"}
final_set = s1.union(s2)
print("Set after Union:",final_set)

Set after Union: {1, 2, 3, 4, 5, 'a', 'b'}

**NOTE :**
The union() function and update() function does the same thing but union() function returns the set which it unites.But update() function doesnot return anything or return type of update() function is "NONE TYPE"

**Question 4:**
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.

In [ ]:
n = [eval(x) for x in input("Enter the elements seperated by space").split()]
m = max(n)
for e in range(1,m+1):
  if e not in n:
    print("Missing Element:",e)

Enter the elements seperated by space1 2 3  5 9
Missing Element: 4
Missing Element: 6
Missing Element: 7
Missing Element: 8

**Question 5:**With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

In [36]:
L = [x for x in input("Enter list elements seperated by space").split()]
index = 0
new = []
for e in L:
  if L.index(e) == index:
    new.append(e)
  index += 1
print(new)
print(new[::-1])

Enter list elements seperated by space1 1 1 5 5 6 9
['1', '5', '6', '9']
['9', '6', '5', '1']