<a href="https://colab.research.google.com/github/urabh75536/UpGrade-AIML/blob/master/UpGrade_AIML_Day_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Random Modules**

In [ ]:
import random
print(random.choice((1,5,6,7,8,9))) #Prints any number randomly present in the given tupple
print(random.choice([1,5,6,7,8,9,11,15,16])) #prints any random number present in the given list
print(random.choice('SaurabhKumar')) #prints any random letter of the string entered
print(random.randrange(100,1000,2)) #randrange is similar to range i.e. from 100(including) to 1000(excluding) in the steps of 2
#It selects out any random number in the range of 100(inclusive) to 1000(exclusive)
print(random.random()) #prints any random number between 0 and 1

7
6
a
694
0.16958178444981598

Shuffle Function

In [ ]:
List = [1,5,6,7]
random.shuffle(List)
print(List)    # It just creates a radom shuffled list out of the list given list members

[7, 5, 1, 6]

Uniform Function

In [ ]:
print(random.uniform(7,14)) #it prints any random number between 7(inclusive) and 14(exclusive)

12.689231956956322

In [ ]:
import os
os.getcwd()

'/content'

#**File Handling**

In [ ]:
f = open("t1.txt","w")
f.write("This text file is made by Saurabh")
print(f.tell()) #tells the file pointer position
f.close()

33

Renaming the file name

In [ ]:
import os
os.rename("t1.txt","Saurabh.txt")

Getting the working directory path

In [ ]:
os.getcwd()

'/content'

Making a directory(or a Folder)

In [ ]:
os.mkdir("Saurabh Folder")

Changing Directory

In [ ]:
os.chdir("Fill path name")

Removing director

In [ ]:
os.rmdir("Saurabh Folder")

List of folders in current directory

In [ ]:
os.listdir()

['.config', 'Saurabh.txt', 'drive', 'sample_data']

##**Map Function**
Map function: It applies the given function to all iterables and returns a new list


```
Syntax of map function: map(function name, iterables)   
```

In [ ]:
def square(a):
  return a**2
input_list = [1,2,5,7]
square_iterable = map(square, input_list)
square_iterable_1 = map(square, input_list)
square_iterable_2 = map(square, input_list)
print(square_iterable)

<map object at 0x7fc098ec6a90>

Here we are not able to print the result as expected beacuse map function returns an object. i.e it returns a map object which can seen as

In [ ]:
type(square_iterable)

map

So to see what is inside the map function. For that we can use type conversion i.e. list, tuple, set

In [ ]:
print(list(square_iterable))

[1, 4, 25, 49]

In [ ]:
print(tuple(square_iterable_1))

(1, 4, 25, 49)

In [ ]:
print(set(square_iterable_2))

{1, 4, 25, 49}

**Using 2 variables in the function**

In [ ]:
def multiply(a,b):
    return a*b
first_list = [1,5,6,7,9]
second_list = [5,6,4,2,8]
multiplied_list = list(map(multiply, first_list, second_list))
print("Multiplied List:",multiplied_list)

Multiplied List: [5, 30, 24, 14, 72]

Here one thing should be noted that if the "first_list" and "second_list" have different number of elements in them , then only mapped element are calculated and the extra elements which cannot be mapped are neglected.

We can have diiferent types of sequence in the map. i.e. in "first_list" can have list and "second_list" can have tuple also. The above code works in that case also.

#**Lambda Functions**

Normal functions are defined and used for the purpose of doing repetative work. It means that if we a want to perform a work repeatedly then we can define a user defined function and use it whenever required. But lambda functions are special type of functions which do nor have a name and can be used only once. i.e. lambda functions are used for only one time use.



```
Some examples of how to use Lambda Functions
```

In [ ]:
#Addition of two numbers
a = (lambda x, y: x+y)(3,4)
print(a)

7

#Note


---
```
def abc(x):
  return lambda y: x+y  ----> Here this will return an incompleted expression => lambda y: 4 + y
t = abc(4) 
```
Actually here returned value is object which when gets the value i.e. "t" is getting an object variable
```
t(5) #This will be evaluated to some value
```

**Use of Lambda function in map function**

In [ ]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]
corresponding_multiplication_list = list(map(lambda a,b : a*b,list_1,list_2))
print(corresponding_multiplication_list)

[6, 14, 24, 36, 50]

#**Filter Function**
---
It is used to filter the given iterables with help of another function passed as an argument to test all the elements to be True or False
---
**SYNTAX**
---
filter(function,iterables)
---
**Note**
---
Just like the map function , filter funnction also returns an object variable and therefore it should be converted into list, tuples, etc just like we did in map function.

![image.png]()

---
```
def sqr(a):
  if a >= 3:
    return a

```
---
According to this condition filter function evaluates to True or False

In [ ]:
def sqr(a):
  if a >= 3:
    return a
List = [1,2,3,4,5]
x = filter(sqr, List)
print(x)
print(type(x))
x = list(x)
print(x)

<filter object at 0x7ffbc18effd0>
<class 'filter'>
[3, 4, 5]

---
But this is not how filter function is used.
---
Filter function is practically used as below
---

In [ ]:
List = [1,2,3,4,5]
x = filter(lambda x: x>3 , List)  #Here "x" in the lambda takes an object "List" i.e. here lambda function takes object as an object
x = list(x)
print(x)

[4, 5]


Reduce Function
---
It applies some other function to a list that are passed as a parameter to it and finally returns a single value
---
**SYNTAX :**
reduce(function, iterable)

Let's see an previous example of sum of 5 whole numbers starting from 0 to 4
```
sum = 0
for e in range(5):
  sum += e
print(sum)
```

Similarily reduce function does the same work in a single line of code

In [ ]:
from functools import reduce
def add(a,b):
  return a+b
x = reduce(add, [0,1,2,3,4])
print(x)

10

Here what is happening we will see in the block
![image.png]()

The value of "b" is automatically moves to next value. And the operation performed between "a" and "b". Here it is addition i.e. addition is performed between "a" and "b" (a+b). So here "b" points to the current value of the list and "a" contains the summed value(because addition is performed) [Initially vlaue of "a" is "0"] And consecuently "b" moves ahead and summed value is kept in "b". 
**And at last whatever value is kept in "a" is returned at last**

In [ ]:
#Using Lambda Function in reduce
x = reduce(lambda x,y: x+y , [0,1,2,3,4])
print(x)

10

In [ ]:
#Using filter function within a map function
x = map(lambda x: x+x, filter(lambda x: x>=3, [1,2,3,4])) #Note that due to PAMDAS rule, inner bracket is solved first. So, lambda function inside the filter will be evaluated first
"""
filter(lambda x: x>=3, [1,2,3,4]) ==> This will return a list whose values are gretaer than or equal to 3 i.e. [3,4]
map function will do x+x means 3+3 and 4+4 of the elememts
"""
x = list(x)
print(x)

[6, 8]

In [ ]:
#Using map function within a filter function
x = filter(lambda x: x>=4 , map(lambda x: x+3, [0,1,2,3,4]))
x = list(x)
print(x)

[4, 5, 6, 7]

In [ ]:
#Using filter and map function within reduce function
x = reduce(lambda x,y: x+y , map(lambda x: x+x, filter(lambda x: x>=3, [0,1,2,3,4])))
print(x)

14

#**Iterators and Gererators**
---

In [ ]:
def foo():
  n = 3
  yield n
  n = n*n
  yield n
v = foo() #Here "v" is a generator object and so we can see it by printing it out
print(v)
v.__next__() #generator object.__next__() => This is used to access the one element in the object variable

<generator object foo at 0x7f3dfbc53f68>

3

In [ ]:
v.__next__()

9

This can be done ina  single go using a "for" loop

In [ ]:
def foo():
  n = 3
  yield n
  n = n*n
  yield n
v = foo() 
for e in v:
  print(e)

3
9

Here "v" is a generator object and so "for" loop will ru untill all the elements are accessed.